<%= form_tag charges_path do %>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <%= hidden_field_tag :plan, plan %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Subscription for 1 <%= period %>"
          data-amount="<%= amount %>"
          data-label="<%= period.capitalize %>: $<%= amount/100 %>"
          data-name="<%= author_name %>'s articles"
          data-locale="auto"></script>
<% end %>
